<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.16.0" targetFramework="net472" />
  <package id="AutoFixture.NUnit3" version="4.16.0" targetFramework="net472" />
  <package id="Bogus" version="33.0.2" targetFramework="net472" />
  <package id="Fare" version="2.1.1" targetFramework="net472" />
  <package id="NUnit" version="3.13.1" targetFramework="net472" />
</packages>